
/* @media only screen and (max-width: 1600px) {
  .project-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 400px;
    margin-top: 30px;
  

  }
} */


.project-list {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: auto;
  /* width: 1500px; */
  
  
}

.projects {

  /* margin-left: 330px; */
  margin-top: 30px;
  padding-bottom: 200px;

  /* background-color: aqua; */

}

.header {
font-size: 26pt;
margin: 30px;
}

@media only screen and (max-width: 1000px){ 
  .project-list {
    
    justify-content: center;
    
    
    
  }
  .header {
  font-size: 26pt;
  text-align: center;
  }
}